# Data Science Capstone Project - The Battle of the Neighborhoods (Week 1)

## Table of contents
* [Introduction](#introduction)
* [Data](#data)

# Introduction
COVID-19 pandemic caused many illness and deaths of human. In the US, the situation is still very bad since the spread is not under control so far. Every state is fighting hard fo the COVID-19 including the tracking and actively testing. 

In this project, we will follow the active cases daily and total cases for the south cariloina state. The data will be viewed through choropleth map to show the **hotspots** in the state. Then we will recommended  the closest the clinic for the **testing**. Basically, this program can be scalled to small local area or the national level based on the dataset.

# Data

The data will be scraped from [worldometer](https://www.worldometers.info/coronavirus/usa/south-carolina/) into dataframe and cleaned. The data will be categorizied into each county in the state with. The data will be reviewed through choropleth map to find the hotspot.

For the hotspot area, Urgent care or pharmacy store will be loacated throught **Foursquare API** to give the reommendation for testing.

In [1]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
from datetime import date

### Scape the data from [worldometer](https://www.worldometers.info/coronavirus/usa/south-carolina/) into dataframe

In [2]:
url='https://www.worldometers.info/coronavirus/usa/south-carolina/'
r = requests.get(url)
df1 = pd.read_html(r.text) # get the data
df1[0].head()

,County,TotalCases,NewCases,TotalDeaths,NewDeaths,ActiveCases,TotalTests,Source
0,South Carolina Total,388184,"+5,762",6237,129.0,207241.0,4333455.0,NaN
1,Greenville,47606,+550,583,11.0,NaN,NaN,[county]* [state]
2,Richland,28988,+461,350,4.0,NaN,NaN,[county]* [state]
3,Charleston,24945,+249,316,5.0,NaN,NaN,[county]* [state]
4,Spartanburg,22861,+246,446,15.0,NaN,NaN,[county]* [state]

### Drop the columns which do not have data and also drop the row 1
### Adding the date for the scrape date

In [3]:
df=df1[0]
df=df[['County','TotalCases','NewCases','TotalDeaths','NewDeaths']] #select the column with data only
date = date.today()
df['Date'] = date # adding the date column
df=df[1:] # drop the first row
df.head()

<ipython-input-3-abb3fecb6910>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = date # adding the date column

        County  TotalCases NewCases  TotalDeaths  NewDeaths        Date
1   Greenville       47606     +550          583       11.0  2021-01-17
2     Richland       28988     +461          350        4.0  2021-01-17
3   Charleston       24945     +249          316        5.0  2021-01-17
4  Spartanburg       22861     +246          446       15.0  2021-01-17
5        Horry       21660     +247          305       10.0  2021-01-17